@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: white;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #020713;
}

.animeLeft{
  transform: translateX(-30px);
  opacity: 0;
  animation: animeLeft .3s ease forwards;
}

@layer utilities {
  .underline-grow{
    @apply relative;
  }
  .underline-grow::after{
    content: "";
    @apply absolute h-[1.5px] bg-white w-full left-0 bottom-0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
  }
    .underline-grow:hover::after{
      transform: scaleX(1);
  }
}

@layer utilities {
  .seta-direita{
    @apply absolute hidden md:block text-4xl right-0 top-[50%] cursor-pointer bg-[#2a2a2a] p-2 mr-8 rounded-[50%] hover:bg-[#020713]
  }
    
  .seta-esquerda{
    @apply absolute hidden md:block text-4xl left-0 top-[50%] cursor-pointer bg-[#2a2a2a] p-2 ml-8 rounded-[50%] hover:bg-[#020713]
  }
}


@keyframes animeLeft {
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

a{
  color: white;
}


button{
  font-size: 2rem;
  color: white;
}




/* :root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
